.navbar-menu {
    --hovercolor: #FF70C3;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    transition: all ease-in-out 0.3s;
    max-height: 90px;
    background-color: var(--bg);

    @media only screen and (max-width: 767px) {
        --txtcolor: #04403D !important;
        grid-template-columns: 1fr 1fr;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
        width: 100%;
        padding: 0px 25px;
        padding-top: 10px;
        max-height: 70px;
    }

    &.work-slug,
    &.not-found {
        --txtcolor: #04403D;
        --txt: #04403D;
        --bg: rgb(238, 238, 238);
    }

    &.intro-slug {
        --txtcolor: rgb(238, 238, 238);
        --txt: rgb(238, 238, 238);
        --bg: #04403D;
    }

    &.nav-scroll {
        @media only screen and (max-width: 767px) {
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        }
    }

    &.close {
        .nav-menu-rows-mob {
            height: 0;
            padding: 0;
        }
    }

    &.open {
        .hamburger-react {
            div {
                background: var(--txtcolor) !important;
            }
        }
    }

    .mobile-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 500;

        .hamburger-react {
            z-index: 500;
        }
    }

    .nav-menu-rows {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        -webkit-text-stroke: 0.5px var(--txt);

        @media only screen and (max-width: 767px) {
            flex-direction: column;
            gap: 40px;
            margin-bottom: 40px;
            -webkit-text-stroke: 0.5px #04403D;
        }

        .btn-arrow {
            font-size: 14px;
            padding: 10px 20px;
            text-align: center;
            min-width: 120px;
            min-height: 41px;
            cursor: pointer;
            text-decoration: none;

            a {
                color: var(--txt);
                text-decoration: none;
                cursor: pointer;
            }

            .link-span {
                opacity: 0;
                font-size: 0.8em;
                transition: all 0.3s ease-in-out;
            }

            .navLink-who {
                position: relative;
                left: 24%;
                transition: all 0.3s ease-in-out;

                @media only screen and (max-width: 767px) {
                    left: 18%;
                }
            }

            &:hover {
                .link-span {
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }

                .navLink-who {
                    left: 0%;
                    transition: all 0.3s ease-in-out;

                }
            }

            @media only screen and (max-width: 767px) {
                --txtcolor: #04403D;
                min-width: 150px;
            }
        }
    }

    .nav-menu-logo {
        min-width: 106px;
        position: relative;

        @media only screen and (min-width: 768px) {
            min-height: 90px;
        }
    }

    .nav-menu-rows-mob {
        @media only screen and (max-width: 768px) {
            justify-content: space-between;
            flex-direction: column;
            position: absolute;
            background-color: whitesmoke;
            top: 14px;
            left: 14px;
            right: 14px;
            bottom: 14px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-top: calc((12 * var(--app-height)) / 100);
            overflow: hidden;
            height: 0;

            &.open {
                width: calc(100% - 28px);
                height: calc(100vh - 28px);
                transition: all 0.55s cubic-bezier(0.52, 0.01, 0.16, 1);
                height: calc(var(--app-height) - 28px);
                opacity: 1;
                z-index: 400;

                .btn-arrow {
                    display: block;
                }

                .link-span {
                    opacity: 1;
                    transition: all 2.7s ease-in-out;
                }

                .navLink-who {
                    left: 0%;
                    transition: all 0.3s ease-in-out;
                }
            }

            &.close {
                transition: all 0.55s cubic-bezier(0.52, 0.01, 0.16, 1);
                opacity: 0;

                .btn-arrow {
                    display: none;
                }

                .link-span {
                    opacity: 0;
                    transition: all 6.7s ease-in-out;
                }
            }
        }
    }
}

.Social-icons-menu {
    position: absolute;
    left: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    align-items: center;
    background-color: rgb(230, 230, 230);
    height: 25%;
    width: 100%;
    top: unset;
    bottom: 0%;

    &::before {
        content: " ";
        position: absolute;
        background-color: inherit;
        width: 150%;
        height: 50px;
        top: -35px;
        left: -20px;
        transform: rotate(-8deg);
    }

    .social-icons-title {
        text-transform: capitalize;
        letter-spacing: 0.2em;
        font-size: 14px;
        text-align: center;
        display: inline-block;
        -webkit-text-stroke: 0.7px var(--txtcolor);
    }

    .social-icons-links {
        padding: 0px 20px;
        gap: 0.8em;

        .icon-link {
            color: var(--txtcolor);
            font-size: 18px;
        }
    }
}

@keyframes spanAnimMob {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes btnAnimMob {
    0% {
        left: 24%;
    }

    100% {
        left: 0%;
    }
}