.intro {

  .intro-contact {
    padding-top: 60px;
    font-size: 100px;
    font-family: 'Sawarabi Mincho', serif;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-bottom: 40vh;
    position: relative;
    max-height: 90vh;
    color: var(--txt);
    -webkit-text-stroke: 1px var(--txt);

    .jump {
      &:hover {
        -webkit-text-stroke: 1px var(--hovercolor);

      }
    }

    &::after {

      content: " ";
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 50%;
      height: 6px;
      background-color: var(--txt);
      transform: translate(-50%, 0);
      animation: titleAnimHero 0.8s forwards;

    }

    &.menu-active {
      //menu height + page padding - because the fix position
      padding-top: calc(90px + 60px);

    }

    .img {
      img {
        max-width: 100%;
        height: auto;

        @media only screen and (max-width: 768px) {
          max-width: 60%;

        }
      }

      @media only screen and (max-width: 768px) {

        display: flex;
        justify-content: center;
        margin-top: 20px;
      }

    }

    @media only screen and (max-width: 768px) {

      flex-direction: column;
      font-size: 35px;
      //menu height + page padding - because the fix position
      padding-top: calc(90px + 60px);


    }
  }


 
}


.scrolldown-container {
  position: absolute;
  bottom: -25vh;

  .scrolldown-btn {
    width: 25px;
    height: auto;
    position: relative;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;

      path.first-path {
        animation: scrollanim 2s ease-in-out infinite;
        animation-delay: 1.8s;
      }

      path.second-path {
        animation: scrollanim2 2s ease-in-out infinite;
      }
    }
  }

  @media only screen and (max-width: 768px) {

    left: 50%;
    bottom: unset;
    top: calc((var(--app-height) - 30px));
  }
}

