@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
padding-top: 20px;

  

}

#experiences {padding-top:65px;}
#skills {padding-top:65px;}
#about {padding-top:65px;}
#Profile{margin-top: -76px;
}
.gmailimg {
  filter: gray;
  filter: grayscale(100%);

}
.gmailimg:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%); 
}
header .scrolldown a:hover { color: #0762f9; }
.iconFace{
  color: black;
  font-size: 30px;
}
.iconFace:hover{
  color: rgb(66, 103, 178);  
  }
  .iconGit{
    color: black;
    font-size: 30px;
  }

 
    .iconGit:hover{
      color: white;
  
      }
  .iconLink{
    color: black;
    font-size: 30px;
  }
  .iconLink:hover{
    color: rgb(0, 114, 177);  
    }
    .iconGmail .img{

      color: black;
      font-size: 30px;
    }
    .iconGmail .img:hover{
    color: rgb(185, 44, 44);  
    }
.icon{

  color: black;
  font-size: 30px;
}
.icon:hover{
color: rgb(229, 91, 126);  
}
.block{
  border-color: rgba(238, 195, 121, 0.788);
  border-width: 10px; 
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-style: dotted;

}
.mycolumn {
  float: left;
  width: 25%;
  padding: 0 -5px ;
  
}

/* Remove extra left and right margins, due to padding */
.myrow {margin: 0px -5px;}

/* Clear floats after the columns */
.myrow:after {
  content: "";
  display: table;
  clear: both;
}
.myrow .details{
  display: none;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .mycolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.marginPageProfile{
 
  z-index: 50;
  width: 17%;
  position: fixed;
}
.menu{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;  
}
.card{
  border-radius: 10px;
}
.light-blue-danielle {
  /* background: linear-gradient(to bottom, #ffffcc 0%, #336699 100%); */
  background-color: rgb(226, 170, 76);
  position: fixed;
  z-index: 100;
  top: 0;
  margin-left: 555px;
  padding-right: -15px;
width: 70%;  
border-radius: 4px;

}
.rightbar {
  margin-left: 50%;
  margin-top: 0px;
  color: #171108;
}

#navText{
  color: #171108;
}

.moreInfo:hover{

  background-color: white;

}
.AspNet-icon{
  color: white;
  background-color: purple;
  width: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 100%;
  font-size: 7px;
}
/* #navIcon{
stroke: white;
stroke-width: 20;
  border-radius: 100%;
  background-size: auto;
  color: #171108;

} */
.brand-logo .H4{
  margin-left: -50%;
  margin-top: 7px;
  color: #171108;
  font-size: 45px;

}
.brand-logo{
  padding-right: 70px;

  color: black;
  font-family: 'Raleway', sans-serif;}

  .nextpar{
    font-size: 16px;
   


  }
  .card-title2{
    font-size: 20px;
  }

 .try1{
   margin-top: -58px;
 }
.mycard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 70%;
  margin: initial;
  border-radius: 10px;


}

/* On mouse-over, add a deeper shadow */
.mycard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.a-href{
  text-transform: lowercase;
  color: black;
}
.a-href2{
  text-transform: lowercase;
  
}
.a-href:hover{
  color:  rgba(66, 124, 231, 0.979);
  text-decoration: underline;
}
.flot {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.flot img {
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 70%;
  border-radius: 10px;
}
.flot img:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.flot #img-top {
  display: none;
  position: absolute;
 width: 70%;
 height: 97%;
 background-color:rgba(133, 131, 129, 0.644);
 align-items: center;
 border-radius: 10px;
font-size: 60px;
text-align: center;
padding-top: 23px;
color: black;
top: 0;
  left: 0;
  z-index: 10;
}

.flot:hover #img-top {
  display: inline;
}

.flot .flot-il {
  position: absolute;
  top: 88%;
  z-index: 100;

  left: 64%;
  color: black;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  size: 10%; 
 padding: 12px 24px;
  border: none;
  cursor: pointer; 
  border-radius: 5px;
  text-align: center;
}
.flot .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 1;
  margin-left: -80px;

  /* Position the tooltip */
  position: absolute;
  z-index: 100;
}

.flot .flot-il:hover .tooltiptext {
  visibility: visible;
}
.flot .flot-il:hover {
  color:rgb(229, 91, 126); 
  
}
.gmailcard {
  font-size: 30px;
  position: relative;
  display: inline-block;
}
.gmailcard .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 99;
}
.gmailcard:hover .img-top {
  display: inline;
}
.gitcard {
  font-size: 30px;

  background-size: 40%;

  position: relative;
  display: inline-block;
}
.gitcard .img-top {
  display: none;
  position: absolute;
  color: white;
stroke: black;  
stroke-width: 3%;
top: 0;
  left: 0;
  border-radius: 100%;
  z-index: 70;
}

.gitcard:hover .img-top {
  display: inline;
}

