@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
padding-top: 20px; 

}

.AspNet-icon{
  background-color: purple;
  border-radius: 50%;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 5px;

  font-size: 10px;
}


header .scrolldown a:hover { color: #0762f9; }
/* .iconFace{
  color: black;
  font-size: 30px;
}
.iconFace:hover{
  color: rgb(66, 103, 178);  
  }
  .iconGit{
    color: black;
    font-size: 30px;
  }

 
    .iconGit:hover{
      color: white;
  
      }
  .iconLink{
    color: black;
    font-size: 30px;
  }
  .iconLink:hover{
    color: rgb(0, 114, 177);  
    } */

.icon{

  color: black;
  font-size: 30px;
}
.icon:hover{
color: rgb(229, 91, 126);  
}
.block{
  border-width: 4px; 
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-style: solid;

}
#yellow{
  border-color: #F3D668

}
#purple{
  border-color: #B388FF;

}
 #blue{
  border-color: #7092BF

}

.block button{
  background-color: transparent; /* Green */
  border: none;
  color: white;
  border: 2px solid #F3D668;

  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;

}
.block button:hover {
  background-color: #F3D668; /* Green */
  color: white;
}
.mycolumn {
  float: left;
  width: auto;
  padding: 0 -5px ;
  
}

/* Remove extra left and right margins, due to padding */
.myrow {margin: 0px -5px;}

/* Clear floats after the columns */
.myrow:after {
  content: "";
  display: table;
  clear: both;
}
.details{
  display: none;
}
.iconFace{
  color: white;
  font-size: 30px;
}
.iconFace:hover{
  color: rgb(66, 103, 178);  
  }
  .iconGit{
    color: white;
    font-size: 30px;
  }

 
    .iconGit:hover{
      color: white;
  
      }
  .iconLink{
    color: white;
    font-size: 30px;
  }
  .iconLink:hover{
    color: rgb(0, 114, 177);  
    }
/* Responsive columns */
@media screen and (max-width: 600px ) {



  .flot .flot-il {
    position: absolute;
    top: 81%;
    z-index: 50;
  
    left: 54%;
    color: black;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    size: auto;
   padding: 12px 24px;
    border: none;
    cursor: pointer; 
    border-radius: 5px;
    text-align: center;
  }
  .flot .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 1;
    margin-left: -80px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 50;
  }

  .flot .flot-il:hover .tooltiptext {
    visibility: visible;
  }
  .flot .flot-il:hover {
    color:rgb(252, 248, 249); 
    
  }
  #experiences {padding-top:100px;}
#skills {padding-top:100px;}
#about {padding-top:100px;

}
#gallery {padding-top:100px;}

  .mycolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  #img-top{
    display: none;
  }
body{
  background-color: rgb(64, 64, 64);
}
  .light-blue-danielle {
    /* background: linear-gradient(to bottom, #ffffcc 0%, #336699 100%); */
    background-color: rgba(128, 128, 128, 0.904);
    position: sticky;
    z-index: 100;
    top: 0;
  width: 100%;  
  border-radius: 4px;
  padding-bottom: 50px;
  align-items: center;
  text-align: center;


  }

 
  .rightbar {
    /* margin-top: 12%; */
    text-align: center;
    white-space: nowrap;
    align-items: center;
    margin-left: 3%;
font-style: oblique;
 font-size: 10px;
 font-weight: bold;
    color: white;
  }
  
  .brand-logo h4{
    white-space: nowrap;
    /* padding-left: 20px; */
    align-items: center;
    color: white;
    font-size: 35px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* Gives that scrolling effect as the typing happens */
    margin: 0,auto;
    padding-bottom: 10px;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
    
  
  }
  .brand-logo{
    background-image:  url(images/back.png);
    margin-top: -22%;
    padding-top: 100px;
    padding-bottom: 260px;
    text-align: center;
    align-items: center;
    color: white;
    top: 0;
    font-family: 'Raleway', sans-serif;}


    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      /* 50% { border-color: orange; } */
    }
    .card-content img{
      width: 80%;
      border-radius: 10px;
      margin-left: 9%;
      margin-bottom: 5%;
      margin-top: 5%;
      }
  
}

@media only screen and (min-width: 768px) {


  .flot .flot-il {
    position: absolute;
    top: 88%;
    z-index: 50;
  
    left: 44%;
    color: black;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    size: auto;
   padding: 12px 24px;
    border: none;
    cursor: pointer; 
    border-radius: 5px;
    text-align: center;
  }
  .flot .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 1;
    margin-left: -80px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 50;
  }
  .flot .flot-il:hover .tooltiptext {
    visibility: visible;
  }
  .flot .flot-il:hover {
    color:rgb(252, 248, 249); 
    
  }

  .container{
    width: 100%;
  }
  .container .row{
    width: 100%;
  }
  .brand-logo .navIcon{
    width: 40%;
    margin: auto;

  }
  .brand-logo h4{
    margin-top: 7px;
    color: #171108;
    font-size: 45px;
    white-space: nowrap;
    align-items: center;
    z-index: 100;
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    /* Gives that scrolling effect as the typing happens */
    padding-bottom: 10px;
    margin: 0 auto;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
    
  
  }
  .brand-logo{
    background-image:  url(images/back3.png);

    background-size: 100%;
    margin-top: -22%;
    margin-bottom: -13px;
    padding-top: 550px;
    padding-bottom: 260px;
    background-color:  rgba(128, 128, 128, 0.904);
    text-align: center;
    align-items: center;
    color: white;
    top: 0;
    font-family: 'Raleway', sans-serif;}

.card-content img{
width: 20%;
border-radius: 10px;
}
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      /* 50% { border-color: orange; } */
    }
    .brand-logo .iconFace{
    color: white;
    font-size: 30px;
  }
  .brand-logo .iconFace:hover{
    color: rgb(66, 103, 178);  
    }
    .brand-logo  .iconGit{
      color: white;
      font-size: 30px;
    }
  
    .brand-logo   .iconGit:hover{
        color: white;
    
        }
    .brand-logo .iconLink{
      color: white;
      font-size: 30px;
    }
    .brand-logo .iconLink:hover{
      color: rgb(0, 114, 177);  
      }
    #experiences {padding-top:65px;}
    #skills {padding-top:65px;}
    #about {padding-top:65px;}
    #gallery {padding-top:65px;}

    .light-blue-danielle {
    /* background: linear-gradient(to bottom, #ffffcc 0%, #336699 100%); */
    background-color: rgba(128, 128, 128, 0.904);
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;  
    border-radius: 4px;
   }
   .rightbar il {
  
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin: auto;
  }
.rightbar {
  font-style: oblique;
  align-items: center;
  margin: auto;
  margin-left: 35%;

}


.marginPageProfile{
    margin: auto;

}
.flot #img-top {
  display: none;
  position: absolute;
 width: 50%;
 height: 97%;
 background-color:rgba(133, 131, 129, 0.644);
 align-items: center;
 border-radius: 10px;
font-size: 60px;
text-align: center;
padding-top: 23px;
color: black;
top: 0;
  left: 0;
  z-index: 10;
}

.flot:hover #img-top {
  display: none;
}

}

.card{
  border-radius: 10px;
  background-color: #ffffff59;

}



#navText{
  color: #92fd92;
}

.moreInfo:hover{

  background-color: white;

}

 .try1{
   margin-top: -58px;
 }
.mycard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 70%;
  margin: initial;
  border-radius: 10px;

}

/* On mouse-over, add a deeper shadow */
.mycard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.a-href{
  text-transform: lowercase;
  color: rgb(224, 222, 222);;
}
.a-href2{
  text-transform: lowercase;
  color:  rgba(8, 54, 141, 0.979);

}
.a-href:hover{
  color:  rgba(8, 54, 141, 0.979);
  text-decoration: underline;
}
.card-action{
  border-radius: 10px;
  z-index: 5px;
  background-color:#966d2f;
}
.flot {
  position: relative;
  width: auto;
  max-width: 400px;
}

.flot img {
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  border-radius: 10px;
}
.flot img:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.gmailcard {
  font-size: 30px;
  position: relative;
  display: inline-block;
}
.gmailcard .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 50;
}
.gmailcard:hover .img-top {
  display: inline;
}
.gitcard {
  font-size: 30px;

  color: white;
  background-size: 40%;

  position: relative;
  display: inline-block;
}
.gitcard .img-top {
  display: none;
  position: absolute;
  color: white;
stroke: black;  
stroke-width: 3%;
top: 0;
  left: 0;
  border-radius: 100%;
  z-index: 70;
}

.gitcard:hover .img-top {
  display: inline;
}

