header {
  /* position: fixed;
  top: 0;
  left: 0;
  /* text-align: center; */
  /* color: white;
  width: 100%; */ 
  /* padding: 1rem;
  background: #1976D2; */
}


body {
  padding-top: 70px;
color: rgb(224, 222, 222);
  background-color: rgb(64, 64, 64);

}
